
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Referans Ekleme Bölümü</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Admin Panel/Referans Bölümü/Referans Ekleme Bölümü</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-12">

                            <form class="form-group" method="post">
                                <label>
                                    Sosyal Medya İsim :
                                </label>
                                <input type="text" class="form-control" name="SocialMediaName" required="required" /> <!--Buradaki name kısmı form post edildiğinde çalışacak olan AboutMe tablosunun içindeki sütunun adı-->
                                <label>
                                    Sosyal Medya Link :
                                </label>
                                <input type="text" class="form-control" name="SocialMediaLinks" required="required" />
                                <label>
                                    Sosyal Medya İkon :
                                </label>
                                <input type="file" class="form-control" name="SocialMediaIcons" required="required" />
                                <br />
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Ekle
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Veri Ekleme Onay Kutusu</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bu işlemi onaylıyor musunuz ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                <button class="btn btn-success">Onayla</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto"></footer>
        </div>
    </div>

</body>

